<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2017, 2021 ABChip and others.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated biz -->
      <package
            uri="http://www.abchip.org/mimo/biz"
            class="org.abchip.mimo.biz.BizPackage"
            genModel="model/biz.genmodel"/>
   </extension>

</plugin>
