<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="biz_asf"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.abchip.mimo.core.e4.osgi"
            name="ABChip.net Biz Desk">
         <property
               name="appName"
               value="ABChip.net Biz Desk">
         </property>
      </product>
   </extension>

</plugin>
