<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="abchip_biz"
         point="org.eclipse.core.runtime.products">
      <product
            name="abchip-biz"
            application="org.abchip.mimo.core.e4.osgi">
         <property
               name="appName"
               value="abchip-biz">
         </property>
      </product>
   </extension>

</plugin>
