<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2017, 2020 ABChip and others.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated biz-service -->
      <package
            uri="http://www.abchip.org/mimo/biz/service"
            class="org.abchip.mimo.biz.service.BizServicePackage"
            genModel="model/biz-service.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated biz-service -->
      <package
            uri="http://www.abchip.org/mimo/biz/service/entity"
            class="org.abchip.mimo.biz.service.entity.EntityPackage"
            genModel="model/biz-service.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated biz-service -->
      <package
            uri="http://www.abchip.org/mimo/biz/service/product"
            class="org.abchip.mimo.biz.service.product.ProductPackage"
            genModel="model/biz-service.genmodel"/>
   </extension>

</plugin>
